<!--The content below is only a placeholder and can be replaced.-->

<div>
  <app-nav></app-nav>
</div>

<div class="ui container">
  <router-outlet></router-outlet>
</div>

<div>
  <app-footer></app-footer>
</div>


<!-- <div class="ui center aligned vertical segment inverted hero">
  <div class="ui container">
    <div class="ui text container">
      <h1 class="ui header inverted">
        Aaron Swartz
      </h1>
      <h2 class="ui header inverted">
        Created the web as we know it
      </h2>
    </div>
  </div>
  <p class="scroll">Scroll down</p>
</div>
<div class="ui vertical segment content">
  <div class="ui text container">
    <h3 class="ui header">
      Creating the web
    </h3>
    <p>
      Aaron was literally setting the standards for the Web with contributions to RSS 1.0 and Creative Commons. He inspired a generation
      to share online, to not be afraid to start things, and to break down barriers.
    </p>
  </div>
</div>
<div class="ui vertical segment content">
  <div class="ui text container">
    <h3 class="ui header">
      Public Information
    </h3>
    <p>
      Aaron was accused of downloading too many articles from a website that anyone connected to the MIT network could log into.
      "This was not serious computer hacking and the government didn't appear to differentiate between those kinds of activities.
    </p>
  </div>
</div>
<div class="ui vertical segment footer inverted">
  <div class="ui text container ">
    <p class="em">
      Let his life be an inspiration to us all to keep fighting, to keep building a better world, where free expression and open
      standards become the norm for everyone
    </p>
    <a href="http://edition.cnn.com/2013/01/15/tech/web/aaron-swartz-internet/">
      <button class="ui large inverted button">
        Read his story
      </button>
    </a>
  </div>
  <p class="disclaimer">
    All text obtained from this
    <a href="http://edition.cnn.com/2013/01/15/tech/web/aaron-swartz-internet/">article</a>
  </p>
</div> -->
